html, body {
    height: 100%;
}

footer, header, section, nav {
    display: block;
}

nav {
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-top: -35px;
}

nav ul {
    background-color: rgb(90, 26, 207);
    line-height: 2em;
    list-style-type: none;
    text-indent: 5px;
    border-radius: 5px;
}

nav ul li:hover {
    list-style-type: none;
    background-color: rgb(205, 5, 5);
    border-radius: 5px;
}

nav ul li a {
    color: rgb(0,255,255);
    text-decoration: none;
    font-weight: bold;
    text-decoration: none;
}

section table tr:nth-child(even) {
    background-color: rgb(95, 131, 252);
}

section img#png_image {
    width: 240px;
    height: 250px;
}

section img#jpg_image {
    width: 240px;
    height: 250px;
}
