nav ul {
background-color: rgb (175, 175, 175);
line-height: 2em;
list-style-type: none;
paddng-left: 0px;
text-indent: 5px;
border-radius: 5px;
}

nav ul li:hover {
background-color: rgb(148,51,62);
border-radius: 5px;
}

